# Autenticacio
VITE_API_LOGIN_ENDPOINT=http://localhost:8080/api/auth/login

# Athletes
VITE_API_ATHLETES_GET_ALL=http://localhost:8080/api/athletes
VITE_API_ATHLETES_CREATE=http://localhost:8080/api/athletes
VITE_API_ATHLETES_UPDATE=http://localhost:8080/api/athletes/{id}
VITE_API_ATHLETES_DELETE=http://localhost:8080/api/athletes/{id}

# Events
VITE_API_EVENTS_GET_ALL=http://localhost:8080/api/events
VITE_API_EVENTS_CREATE=http://localhost:8080/api/events
VITE_API_EVENTS_UPDATE=http://localhost:8080/api/events/{id}
VITE_API_EVENTS_DELETE=http://localhost:8080/api/events/{id}

# Participations
VITE_API_PARTICIPATIONS_BY_EVENT=http://localhost:8080/api/participations/event/{eventId}
VITE_API_PARTICIPATIONS_ENROLL=http://localhost:8080/api/participations/enroll
